<style>
  .instagram-xp {
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    padding-bottom: 5rem;
  }
</style>
<div class="instagram-xp">
  <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
  <div class="elfsight-app-3f83f394-ab60-46e3-a478-5e1fc9ebaaf1" data-elfsight-app-lazy></div>
</div>
{% schema %}
{
  "name": "Xp Videos",
  "tag": "section",
  "class": "xp-curse-detail",
  "settings": [],
  "presets": [
    {
      "name": "Xp Videos"
    }
  ]
}
{% endschema %}
