<style>
  .xp-weoffer-wrapper {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 100px;
  }

  .weoffer-flexbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .card {
    padding: 1rem 2rem;
    border-radius: 1.25rem;
  }

  .loader {
    color: rgb(124, 124, 124);
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 35px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 60px;
    padding: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
  }

  .words {
    overflow: hidden;
    position: relative;
  }
  .words::after {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(var(--bg-color) 10%, transparent 30%, transparent 70%, var(--bg-color) 90%);
    z-index: 20;
  }

  .word {
    display: block;
    height: 100%;
    padding-left: 20px;
    color: #efaf1e;
    animation: spin_4991 4s infinite;
    font-size: 35px;
  }

  @keyframes spin_4991 {
    10% {
      -webkit-transform: translateY(-102%);
      transform: translateY(-102%);
    }

    25% {
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }

    35% {
      -webkit-transform: translateY(-202%);
      transform: translateY(-202%);
    }

    50% {
      -webkit-transform: translateY(-200%);
      transform: translateY(-200%);
    }

    60% {
      -webkit-transform: translateY(-302%);
      transform: translateY(-302%);
    }

    75% {
      -webkit-transform: translateY(-300%);
      transform: translateY(-300%);
    }

    85% {
      -webkit-transform: translateY(-402%);
      transform: translateY(-402%);
    }

    100% {
      -webkit-transform: translateY(-400%);
      transform: translateY(-400%);
    }
  }

  .loader p {
    margin: 0;
    margin: 0;
    font-size: 35px;
    color: #fff;
  }

  .divider-xp {
    width: 48%;
  }

  .divider-image {
    width: 90%;
  }

  .main-heading-xp {
    color: #fff;
    text-align: center;
  }

  .info-text--offer {
    color: #fff;
  }

  .pricingDiv {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .price1--offer {
    padding: 10px 10px;
    background: #efaf1e;
    margin-right: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
  }

  .price2--offer {
    padding: 10px 10px;
    background: #fe5700;
    margin-right: 20px;
    color: #fff;
    font-size: 16px;
    text-align: center;
    border-radius: 5px;
  }

  @media (max-width: 990px) {
    .weoffer-flexbox {
      flex-direction: column-reverse;
      width: 95%;
      margin: 0 auto;
    }

    .divider-xp {
      width: 100%;
    }

    .loader p {
      margin: 0;
      margin: 0;
      font-size: 18px;
      color: #fff;
    }

    .word {
      display: block;
      height: 100%;
      padding-left: 10px;
      color: #efaf1e;
      animation: spin_4991 4s infinite;
      font-size: 18px;
    }

    .info-text--offer {
      color: #fff;
      font-size: 12px;
      margin-top: 0;
    }

    .divider-image {
      width: 100%;
    }

    .loader {
      color: rgb(124, 124, 124);
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 35px;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      height: 25px;
      padding: 10px 10px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border-radius: 8px;
      padding-left: 0;
    }

    .pricingDiv {
      display: flex;
      align-items: center;
      margin-top: 20px;
      flex-direction: column;
    }

    .price1--offer {
      padding: 10px 20px;
      background: #efaf1e;
      margin-right: 0px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      margin-bottom: 15px;
      width: 100%;
    }

    .price2--offer {
      padding: 10px 20px;
      background: #fe5700;
      margin-right: 0px;
      color: #fff;
      font-size: 16px;
      text-align: center;
      border-radius: 5px;
      width: 100%;
    }
  }
</style>

<div class="xp-weoffer-wrapper">
  <h1 class="main-heading-xp">What Are We Offering</h1>
  <div class="weoffer-flexbox">
    <div class="we-offer-loader divider-xp">
      <div class="card-we-offer ">
        <div class="card">
          <div class="loader">
            <p>Xtreme Paisa</p>
            <div class="words">
              <span class="word">Earn</span>
              <span class="word">Earn</span>
              <span class="word">Repeat</span>
              <span class="word">Earn</span>
              <span class="word">Repeat</span>
            </div>
          </div>
          <p class="info-text--offer">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
            electronic typesetting, remaining essentially unchanged.
          </p>
          <div class="pricingDiv">
            <div class="price1--offer">Online Class: PKR 30,000/-</div>
            <div class="price2--offer">Physical Class: PKR 50,000/-</div>
          </div>
        </div>
      </div>
    </div>
    <div class="we-offer-image divider-xp">
      <img class="divider-image" src="{{ section.settings.image_offer | img_url: 'master' }}">
    </div>
  </div>
</div>

{% schema %}
{
  "name": "xp weoffer",
  "tag": "section",
  "class": "main-weoffer",
  "settings": [
    {
      "type": "image_picker",
      "id": "image_offer",
      "label": "We offer image"
    }
  ],
  "presets": [
    {
      "name": "xp weoffer"
    }
  ]
}
{% endschema %}
